<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.android_kidstories">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ui.KidstoriesApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <receiver
            android:name=".receivers.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".IgnoreForApiTest.TestActivity" />
        <activity
            android:name=".ui.settings.SettingsFragment"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="GoogleAppIndexingWarning" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_the_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.categories.StoriesInCategoryActivity"
            android:parentActivityName=".ui.MainActivity" /> <!-- Do not edit this theme -->
        <activity
            android:name=".ui.story_viewing.SingleStoryActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.SingleStory" />
        <activity android:name=".ui.login.RegisterActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity
            android:name=".AddStoryActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".CommentActivity"
            android:parentActivityName=".ui.story_viewing.SingleStoryActivity" />
        <activity
            android:name=".AddStoriesContentActivity"
            android:parentActivityName=".AddStoryActivity" />
        <activity android:name=".ui.base.BaseActivity" />
        <activity android:name=".ui.reading_status.ReadingStatusActivity" />
        <activity android:name=".ui.staging.ImageStagingActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>